body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #f2f2f2;
    width: 100%;
}

#logo{
    float: left;
}
.header-bar{
    width: 100%;
    height: 50px;
    background-color: #fff;
    margin-bottom: 1.5em;
}
.search_bar {
    width: 50%;
    float: left;
    margin-top: 0.1em;
}
.search_bar input{
    width:60%;
    height: 20px;
}
.img_button{
    border: 1px solid gray;
}
#search_button{
    width: 20px;
    cursor:pointer;
    position:relative;
    top: 0.6em;
}

.video-detail {
    margin: 2em auto;
}

.video-detail iframe{
    width: 100%;
    height: 400px;
}
.video-detail .description{
    background-color: #fff;
    margin-top: 10px;
    padding: 20px 10px;
    border: solid 1px  #ddd;
    border-radius: 4px;
}

.video_item{
    background-color: #fff;
    padding: 1em;
    border: solid 1px  #ddd;
    border-radius: 4px;
    cursor:pointer;
    display: flex;
}
.video_item img{
    max-width: 150px;
    max-height: 115px;
    padding-right: 1em;
}

.video_item:hover{
    background-color: #eee;
}


 @media screen and (max-width:550px) {

    .search_bar {
        margin-left: 2em;
    
    }
    .video-detail{
        width: 80%;
    }
    
    
    .list_video_items{
        width: 80%;
        margin: 2em auto;
       
    }
    .video_item .video_item_title{
        
        position: relative;
        top: 1.8em;
    }

 }
 
 @media screen and (min-width:551px)and (max-width:769px) {
    #logo{
        margin-left: 3em;
    }
    
    .search_bar {
        margin-left: 2em;
    
    }
    .video-detail{
        width: 80%;
    }
    .list_video_items{
        width: 80%;
        margin: 2em auto;
    }
    
    .video_item .video_item_title{
        position: relative;
        top: 1.8em;
    }


}


 @media screen and (min-width:770px){ 
     
    #logo{
        margin-left: 3em;
    }
    .search_bar {
        
        margin-left: 7em;
    }
    
    .video-detail {
        width: 50%;   
        float: left;
        position: relative;
        left: 2em;
    }
    
    .list_video_items{
        float: right;
        width: 40%;
        position: relative;
        left: -2em;
    }
    
    .video_item .video_item_title{
        position: relative;
        top: 0.3em;
    }

}
 
@media screen and (min-width:1000px){ 
     
    .video_item .video_item_title{
        position: relative;
        top: 1.8em;
    }


 } 